.posts{
    flex: 9;
    display: flex;
    /* use whole line, horizontal row, but if these children are too wide than the parent, they will wrap to the next line. */
    flex-wrap: wrap; 
    margin: 20px;
}
