.settings {
  display: flex;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
}


.settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .settingsTitleUpdate {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
  }