.settings {
  display: flex;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsTitleUpdate {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.settingsTitleDelete {
  color: red;
  font-size: 12px;
  cursor: pointer;
}


.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsPP {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .settingsPP > img {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    object-fit: cover;
  }

  .settingsPPIcon {
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
  }