.header {
    margin-top: 60px;
  }
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
  }
  
  .headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 30px;
  }
  
  .headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
    color: rgb(1, 255, 132)
  }
  
  .headerImg {
    width: 100%;
    height: auto;
    margin-top: 130px;
    object-fit: cover;
  }
  